body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  background:
    linear-gradient(rgba(14,26,43,0.88), rgba(14,26,43,0.88)),
    url("https://images.unsplash.com/photo-1497215728101-856f4ea42174");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(17,24,39,0.95);
  position: sticky;
  top: 0;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #d1d5db;
}

nav a:hover { color: white; }

.section {
  padding: 80px 20px;
  text-align: center;
}

.light {
  background: rgba(17,24,39,0.85);
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-img {
  width: 260px;
  border-radius: 12px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background: rgba(31,41,51,0.95);
  padding: 25px;
  border-radius: 12px;
  width: 240px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

.card-img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.highlight {
  border: 2px solid #6366f1;
}

.testimonial-box {
  background: rgba(31,41,51,0.95);
  padding: 25px;
  border-radius: 12px;
  width: 60%;
  margin: auto;
}

.t-buttons button {
  margin: 10px;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

input, textarea {
  display: block;
  margin: 10px auto;
  padding: 12px;
  width: 260px;
  border-radius: 6px;
  border: none;
}

button[type="submit"] {
  background: #6366f1;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background: rgba(17,24,39,0.95);
}

@media(max-width:600px){
  .image-row { flex-direction: column; }
}
